{% extends 'base.html' %}

{% block body %}
<form method="post" class="login-form">
  <h1>Set New Password</h1>
  {% csrf_token %}
  {% if form.errors %}
  <div style="color:red;">
    {{ form.errors }}
  </div>
{% endif %}

  {% if form.errors %}
    <p style="color: #d9534f; text-align: center; margin-bottom: 20px;">
      Please correct the errors below.
    </p>
  {% endif %}

  {{ form.as_p }}

  <p><button type="submit">Change Password</button></p>

  <p style="text-align: center;">
    <a href="{% url 'users:login' %}" style="color: #00bfff; text-decoration: none;">Back to Login</a>
  </p>
</form>
{% endblock %}
