{% extends 'base.html' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <div class="categories-page">
        <h1>Categories</h1>

        {% if categories %}
            <ul class="no-bullets">
                {% for category in categories %}
                    <li>
                        <details>
                            <summary>{{ category.name }}</summary>
                            {% if category.description %}
                                <p>{{ category.description }}</p>
                            {% endif %}

                            <div class="action-buttons">
                                <a href="{% url 'category_update' category.pk %}"><button>Edit Category</button></a>
                                <a href="{% url 'category_delete' category.pk %}"><button>Delete Category</button></a>
                            </div>
                        </details>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No categories available.</p>
        {% endif %}
    </div>
{% endblock %}
