{% extends 'base.html' %}

{% block title %}Список транзакций{% endblock %}

{% block body %}
    <div class="container">
        <h1>Transactions</h1>

        <!-- Таблица транзакций -->
        <table class="transaction-table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Actions</th> <!-- Новый столбец для действий -->
                </tr>
            </thead>
            <tbody>
                {% for element in transactions %}
                    <tr>
                        <td>{{ element.transaction_id }}</td>
                        <td>{{ element.amount }}</td>
                        <td>{{ element.transaction_type }}</td>
                        <td>{{ element.cat.name }}</td>
                        <td>{{ element.transaction_date }}</td>
                        <td>
                            <!-- Иконка редактирования -->
                            <a href="{% url 'transaction-update' element.pk %}" class="edit-icon" title="Edit">
                                <i class="fas fa-edit"></i>
                            </a>
                            <!-- Иконка удаления -->
                            <a href="{% url 'transaction-delete' element.pk %}" class="delete-icon" title="Delete">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">Нет транзакций для отображения.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

