{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link type="text/css" href="{% static 'testsite/css/styles.css' %}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="navbar">
        <a href="{% url 'transaction' %}">Transaction</a>
        <a href="{% url 'category' %}">Categories</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'current' %}">Current value</a>

        <div class="right-links">
            <a href="{% url 'login' %}">Login</a>
        </div>
    </div>


    <div class="content">
    {% block body %}
    {% endblock %}
    </div>
</body>
</html>