{% extends 'base.html' %}

{% block title %}Statistic{% endblock %}

{% block body %}
    <div class="statistics-page">
        <h1>Statistics</h1>
        <h2>Overall Statistics</h2>
        <ul>
            <li><strong>Total Income:</strong> {{ total_in|floatformat:2 }}</li>
            <li><strong>Total Expense:</strong> {{ total_ex|floatformat:2 }}</li>
            <li><strong>Total:</strong> {{ total_sum|floatformat:2 }}</li>
        </ul>
        <h1>Category Overview</h1>
        {% for  category in cat_stat %}
            {% if category.cat_in or cat_ex %}
                <ul class="no-bullets">
                    <li>
                        <details>
                        <summary>{{ category.cat__name }}</summary>
                            <p><strong>Total Income:</strong> {{ category.cat_in|floatformat:2 }}</p>
                            <p><strong>Total Expense:</strong> {{ category.cat_ex|floatformat:2 }}</p>
                            <p><strong>Total:</strong> {{ category.total_cat_sum|floatformat:2 }}</p>
                        </details>
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
